<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joyappsdevteam.covid_19tracer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".news_module.NewsActivity" />
        <activity android:name=".news_module.NewsDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".FeelingGoodActivity" />
        <activity android:name=".FeelingBadActivity" />
        <activity android:name=".info_module.InfoActivity" />
        <activity android:name=".maps_module.WebViewWorldActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".home_module.PreventionActivity" />
        <activity android:name=".home_module.SymptomsActivity" />
        <activity android:name=".home_module.HelplineNumberActivity" />
        <activity android:name=".maps_module.MapsActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".settings_module.WebViewActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".settings_module.AttributesActivity" />
        <activity android:name=".settings_module.AboutUsActivity" />
        <activity android:name=".settings_module.SettingsActivity" />
        <activity android:name=".home_module.HomeActivity" />
        <activity android:name=".authentication_module.TakeUsernameAndLocationActivity" />
        <activity android:name=".authentication_module.PhoneVerificationActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>